*{margin:0; padding: 0;}
.texto-principal{
    color: dodgerblue;
    font-size: 60px;
}

#texto1{
    background-color: chartreuse;
}

#texto2{
    background-color: blueviolet;
    font-size: 50px;
}