*{margin:0 ; padding: 0;}
#exemplo{background-color: green;
color: #fff;
width: 300px;
margin: 50px;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 10px;
padding-left: 5px;

}

#exemplo2{background-color: rgb(69, 11, 162);
    color: #fff;
    width: 300px;
    margin: 50px;
    padding: 20px 10PX 15PX 25PX;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    
    }

    #exemplo3{background-color: rgb(255, 1, 158);
        color: #fff;
        width: 300px;
        margin: 50px;
        padding: 20px;
        
        }