* {margin:0;padding: 0;}

#texto2 {
    color:red;
    text-align: right;
    text-transform: lowercase ;
    letter-spacing: 10px;
    text-shadow: 4px;

}

#texto3 {
    color:rgb(9, 199, 9);
    text-align: left;
    text-transform:capitalize ;
    letter-spacing: 15px;
    text-shadow: 5px;

}

p {
    color:red;
    text-align: justify;
    text-transform: ;
    letter-spacing: 5px;
    text-shadow: 5px 7px black;

}
h1{
    color:green
    text-align: left;
    text-decoration: underline;
}

h2{
    color:blue;
    text-align:right;
    text-decoration:overline;
   
}

h3{
    color: orange;
    text-align: center;
    text-decoration: line-through;

}