*{margin:0; padding: box-sizing: 0;}
#exemplo{
    background-color: yellow;
    height: 200px;
    width: 200px;
    transition: 5s;
}
#exemplo:hover{
    background-color: rebeccapurple;
    height: 400px;
    width: 400px;
}